<html>
<head>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


<title> {% block title %}  {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load staticfiles %}
<link href="{% static "style.css" %}" rel="stylesheet" >

<div class="navbar navbar-inverse navbar-fixed-top" >

    <div class="container">
        <div class="navbar-header">

    <a href="/home" class="btn btn-link">Główna</a>    <a href="/wait" class="btn btn-link">Poczekalnia</a>   <a href="/search" class="btn btn-link">Szukaj</a>

    {% if state == '0' %}
    <a  class="btn btn-link" href="/login" > Zaloguj</a> <a  class="btn btn-link" href="/register">Rejestracja</a>[foo,foo or admin,admin or bar,bar]
    {% else %}

    <a class="btn btn-link" href="/addjoke">Dodaj</a>    <a class="btn btn-link" href="/profile">{{user}}</a> <a class="btn btn-link"  href="/logout">Wyloguj</a>
        {% if user == 'admin' %}
        <a class="btn btn-link" href="/admin">Panel administracyjny</a>
        {% endif %}

    {% endif %}
</div>
        </div>
</div>
<hr>

</head>
<body>

<div class="jumbotron">
      <div class="container">

{% block content %}
<table class = "table">
    <tbody>
    <tr>
        <td><b>Kawał</b></td>
        <td><b>Data publikacji</b></td>
        <td><b>Ocena</b></td>
        <td><b>Tagi</b></td>
        <td><b>Autor</b></td>
        <td><b>Edytuj</b></td>
        <td><b>Usuń</b></td>
        <td><b>Akceptuj</b></td>
    </tr>
    {% for joke in jokes %}
        {% if joke.accepted == accepted %}
            <tr>
                <td>{{ joke.joke_text }}</td>
                <td>{{ joke.published_date  }}</td>
                <td>{{ joke.rate }}</td>
                <td>{{ joke.tags }}</td>
                <td>{{ joke.author }}</td>
                {% if joke.author == user or user == 'admin'  %}
                    <td><a href="{% url "joke_edit" joke.id %}">Edit</a></td>
                    <td><a href="{% url "joke_delete" joke.id %}">Delete</a></td>
                    {% if user == 'admin' %}
                        <td><a href="{% url "joke_accept" joke.id %}">Yes/No</a></td>
                    {% endif %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    <script src="http://code.jquery.com/jquery.js"></script>
    </tbody>
</table>{% endblock %}

{% block footer %}
<hr>

{% endblock %}

</div>
    </div>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div class="container">
    <p class="text-right" class="lead">ŻARToMAT &copy 2014</p>
</div>

</body>
</html>
