<html>
<head>
<title> {% block title %}  {% endblock %}</title>
{% load staticfiles %}
<link href="{% static "style.css" %}" rel="stylesheet" >

<div class="menu">
    <a href="/home" class="button">Główna</a>    <a href="/wait" class="button">Poczekalnia</a>   <a href="/search" class="button">Szukaj</a>

    {% if state == '0' %}
    <a  class="button" href="/login" > Zaloguj</a> <a  class="button" href="/register">Rejestracja</a>[foo,foo or admin,admin or bar,bar]
    {% else %}
    
    <a class="button" href="/addjoke">Dodaj</a>    <a class="button" href="/profile">{{user}}</a> <a class="button"  href="/logout">Wyloguj</a>
        {% if user == 'admin' %}
        <a class="button" href="/admin">Panel administracyjny</a>
        {% endif %}

    {% endif %}

</div>
<hr>
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
</style>
</head>
<body>
{% block content %}
<table class = "table" frame = "box">
    <tbody>
    <tr>
        <td><b>Kawał</b></td>
        <td><b>Data publikacji</b></td>
        <td><b>Ocena</b></td>
        <td><b>Tagi</b></td>
        <td><b>Autor</b></td>
        <td><b>Edytuj</b></td>
        <td><b>Usuń</b></td>
        <td><b>Akceptuj</b></td>
    </tr>
    {% for joke in jokes %}
        {% if joke.accepted == accepted %}
            <tr>
                <td>{{ joke.joke_text }}</td>
                <td>{{ joke.published_date  }}</td>
                <td>{{ joke.rate }}</td>
                <td>{{ joke.tags }}</td>
                <td>{{ joke.author }}</td>
                {% if joke.author == user or user == 'admin'  %}
                    <td><a href="{% url "joke_edit" joke.id %}">Edit</a></td>
                    <td><a href="{% url "joke_delete" joke.id %}">Delete</a></td>
                    {% if user == 'admin' %}
                        <td><a href="{% url "joke_accept" joke.id %}">Yes/No</a></td>
                    {% endif %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>{% endblock %}

{% block footer %}
<hr>
<p>Żartomat &copy 2014</p>
{% endblock %}
</body>
</html>
