{% extends "base.html" %}
{% block content %}
<h2>Oczekujące</h2>
<table class = "reference" style="width:auto" frame = "box">
    <tbody>
    {% for joke in jokes %}
        {% if joke.accepted == false %}
        <tr>
            <td>{{ joke.joke_text }}</td>
            <td>{{ joke.date_published }}</td>
            <td>{{ joke.rate }}</td>
            <td>{{ joke.tags }}</td>
            <td>{{ joke.author }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block title %} {{title}} {% endblock %}
